# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django / Python
db.sqlite3
/media/
/staticfiles/
*.log
.env
venv/
env/
ENV/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
